@use "../../styles/partials/variables" as *;

.skill-list-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 1rem;

  &__text {
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__tag {
    white-space: nowrap;
    border-radius: 20px;
    padding: 0.35rem 0.75rem;
    font-size: 10px;
    background-color: #59bcb5;
    color: white;
    text-transform: uppercase;
  }
}

.skill-details-link {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}
