@use "../../styles/partials/variables" as *;

.skill-list-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 0.0625rem solid lightgrey;
  padding: 0.5rem 2rem;

  &__text {
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 0.5rem;
  }

  &__preview {
    font-size: 0.875rem;
    padding: 0.4rem 0;
  }

  &__tag {
    white-space: nowrap;
    border-radius: 1.25rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.625rem;
    color: white;
    background-color: $app-turq-mid;
    text-transform: uppercase;
    width: fit-content;
    margin: 0.25rem 0;
  }

  &__favourite {
    background-color: unset;
    border: none;
  }

  &__favourite-icon {
    color: $almost-black;
    cursor: pointer;
    font-size: 1.5rem !important;
    padding-top: 1rem;

    &--filled {
      color: $app-turq-dark !important;
    }
  }
}

.skill-details-link {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}
