@use "../../styles/partials/variables" as *;

.skill-list-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 0.0625rem solid lightgrey;
  padding: 0.5rem 2rem;

  &__text {
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 0.5rem;
  }

  &__preview {
    font-size: 15px;
    padding: 0.4rem 0;
  }

  &__tag {
    white-space: nowrap;
    border-radius: 1.25rem;
    padding: 0.25rem 0.75rem;
    font-size: 12px;
    font-weight: 500;
    color: white;
    // color: black;
    background-color: $app-turq-mid;
    background-color: #86c5c6;
    text-transform: uppercase;
    width: fit-content;
    margin: 0.25rem 0;
  }

  &__favourite {
    background-color: unset;
    border: none;
  }

  &__favourite-icon {
    color: #005254;
    cursor: pointer;
    font-size: 28px !important;
    padding-top: 1rem;

    &--filled {
      color: $app-turq-dark !important;
      // color: #feb735 !important;
    }
  }
}

.skill-details-link {
  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    background-color: #fbfbfb;
  }
}
