@use "../../styles/partials/variables" as *;

.fit-facts {
  &__modal {
    position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // height: 100%;
    // width: 100%;
    box-sizing: border-box;
    margin: 2rem;
    background-color: $background-cream;
    z-index: 1000;
  }

  &__overlay {
    position: fixed;
    // background-color: $background-cream;
    background-color: rgb(178, 176, 172, 0.2);
    // height: 100vh;
    // width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close-button {
    background-color: $background-cream;
    border: none;
  }

  &__content {
    padding: 2rem;
  }
}
