@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4.375rem);

  &__header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__menu-button {
    height: 1.5rem;
    background-color: unset;
    border: none;
    padding: 1rem;
  }

  &__menu-icon {
    color: $almost-black;
  }

  &__logout-button {
    margin: 2rem 4rem 0 2rem;
    border: none;
    background-color: unset;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
  }

  &__header-button {
    border-radius: 50%;
    border: none;
    box-shadow: rgba(180, 170, 151, 0.2) 0rem 0.125rem 0.5rem 0rem;
  }

  &__emergency-button {
    background-image: linear-gradient(to top left, #fd5901, #faab36);
  }

  &__button-icon {
    color: white;
    padding: 0.8rem;
  }

  &__info-button {
    background-color: $app-turq-mid;
    background-image: linear-gradient(
      to bottom right,
      $app-turq-light,
      $app-turq-dark
    );
  }

  &__title {
    position: relative;
    top: 8rem;
    color: $almost-black;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }

  &__filter-button-container {
    margin: 2rem 2rem 4rem;
  }

  &__filter-icon {
    color: white;
    font-size: 2.25rem !important;
    padding: 1.5rem;
  }

  &__thermometer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 1rem;
    padding: 0 4rem 0 1rem;
  }
}

.intensity-label {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  &__container {
    width: 8rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__level {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: $app-light-grey;
    cursor: pointer;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: rgb(180, 170, 151);
    color: $app-light-grey;
    text-align: end;
    font-style: italic;
  }
}
