@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4.375rem);
  overflow-y: scroll;

  &__header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__menu-button {
    height: 1.5rem;
    background-color: unset;
    border: none;
    padding: 1rem;
  }

  &__menu-icon {
    color: $almost-black;
  }

  &__drawer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: start;
    gap: 1rem;
  }

  &__drawer-link {
    font-size: 16px;
  }

  &__logout-button {
    border: none;
    background-color: unset;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
  }

  &__header-button {
    border-radius: 50%;
    border: none;
    background-color: unset;
  }

  &__emergency-button {
    color: #fd5901;
  }

  &__button-icon {
    color: $app-turq-dark;
    font-size: 40px !important;
    padding: 0.8rem;
  }

  &__title {
    position: relative;
    top: 8rem;
    color: $almost-black;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }

  &__filter-button-container {
    margin: 2rem 3rem 3rem;
  }

  &__filter-icon {
    color: white;
    font-size: 2.25rem !important;
    padding: 1.5rem;
  }

  &__thermometer-container {
    margin: 2rem;
    margin-top: 0;
    border-radius: 20px;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__thermometer {
    padding: 5rem 4rem 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
  }
}

.intensity-label {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  &__container {
    width: 10rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__level {
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: $app-light-grey;
    color: #99afaf;
    cursor: pointer;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgb(180, 170, 151);
    color: $app-light-grey;
    color: grey;
    text-align: end;
    font-style: italic;
  }
}
