@use "../../styles/partials/variables" as *;

.register {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    $app-turq-light,
    $app-turq-dark
  );
  height: 100vh;
  z-index: 100000;
}
