@use "../../styles/partials/variables" as *;

.emergency-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4.25rem);
  width: 100vw;

  &__header {
    border-bottom: 0.0625rem solid lightgrey;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
  }

  &__back-button {
    background-color: unset;
    border: none;
  }

  &__header-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1.75rem;
  }

  &__emergency-button {
    border-radius: 20px;
    border: none;
    background-color: $app-turq-mid;
    // box-shadow: rgba(180, 170, 151, 0.2) 0rem 0.125rem 0.5rem 0rem;
    // background-image: linear-gradient(to top left, #fd5901, #faab36);
  }

  &__stop-button {
    color: white;
    font-weight: 600;
    padding: 0 1rem;
    font-size: 15px;
  }

  &__button-icon {
    color: white;
    padding: 0.8rem;
  }

  &__container {
    padding: 2rem;
    overflow-y: scroll;
  }

  &__section {
    margin-bottom: 1.5rem;
  }

  &__section-header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__subheader {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &__list {
    list-style-type: none;
    font-size: 0.875rem;
  }

  &__list-item {
    padding-top: 0.3rem;
    font-size: 15px;
    margin-bottom: 0.15rem;
  }

  &__contact-link {
    color: $app-turq-dark;

    &:link,
    &:active,
    &:hover,
    &:visited {
      color: $app-turq-dark;
      text-decoration: none;
    }

    &:hover {
      color: $app-turq-light;
    }
  }

  &__plan-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__edit-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    color: black;
    font-size: 0.875rem;

    &:link,
    &:active,
    &:hover,
    &:visited {
      color: black;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
    }
  }

  &__edit-icon {
    font-size: 24px !important;
    color: black;

    &:link,
    &:active,
    &:hover,
    &:visited {
      color: black;
    }
  }

  &__sub-section {
    margin-bottom: 1.5rem;
  }

  &__subheader {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &__subheader-crisis {
    margin-bottom: 0.5rem;
  }

  &__support {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  &__support-item {
    flex: 1;
  }

  &__crisis-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
