$background-cream: #fcefd6;

$thermometer-blue: #00bcf2;
$thermometer-yellow: #faba2c;
$thermometer-orange: #f3481a;
$thermometer-red: #ff0909;
$thermometer-black: #3a3335;

$app-pink: #efada5;
$app-orange: #e75634;
$app-yellow: #f2a730;
$app-dark-green: #568575;
$app-light-green: #c4d3be;
