// $nav-cream: #fcefd6;
$nav-cream: #fdf6e8;
// $background-cream: #fdf6e8;
$background-cream: #fefdf9;
// $background-cream: white;
$almost-black: #3a3335;
$app-blue: #6ba5d5;

$thermometer-brightBlue: #00bcf2;
$thermometer-blue: #3f8ecb;
$thermometer-blueGreen: #7d9d96;
$thermometer-greenBlueGreen: #7d9d96;
$thermometer-green: #bcac61;
$thermometer-yellow: #faba2c;
$thermometer-orange: #fc8e24;
$thermometer-midOrange: #fd621b;
$thermometer-orangeRed: #f3481a;
$thermometer-red: #ff0909;
$thermometer-white: #fefdf9;

$app-pink: #efada5;
$app-orange: #e75634;
$app-yellow: #f2a730;
$app-dark-green: #568575;
$app-light-green: #c4d3be;

// $app-turq-dark: #23aba2;
// $app-turq-mid: #25b9af;
// $app-turq-light: #26c9bd;
// $app-light-grey: #b4aa97;
// $app-turq-extra-dark: #33847f;

$app-turq-dark: #008083;
$app-turq-mid: #249ea0;
$app-turq-light: #78baae;
$app-light-grey: #b4aa97;
$app-turq-extra-dark: #008083;
