$nav-cream: #fcefd6;
$background-cream: #fdf6e8;
$almost-black: #3a3335;

$thermometer-blue: #00bcf2;
$thermometer-blueGreen: #3f8ecb;
$thermometer-green: #7d9d96;
$thermometer-yellowGreen: #bcac61;
$thermometer-yellow: #faba2c;
$thermometer-yellowOrange: #fc8e24;
$thermometer-lightOrange: #fd621b;
$thermometer-orange: #f3481a;
$thermometer-red: #ff0909;
$thermometer-white: #fefdf9;

$app-pink: #efada5;
$app-orange: #e75634;
$app-yellow: #f2a730;
$app-dark-green: #568575;
$app-light-green: #c4d3be;
