@use "../../styles/partials/variables" as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  padding: 2rem;
  z-index: 10000;
  align-items: center;
  background-color: $app-turq-mid;
  background-color: #599191ff;
  // background-color: #98afaf;
  // background-color: white;

  &__logo {
    width: 15rem;
    margin-top: 7rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 17.8125rem;
    margin-top: 8rem;
  }

  &__title {
    font-weight: 600;
    color: white;
    // color: $app-turq-mid;
  }

  &__button {
    margin-top: 1rem;
    background-color: $app-turq-dark;
  }

  &__account-question {
    position: absolute;
    bottom: 8rem;
  }

  &__account-link {
    &:link,
    &:visited,
    &:active {
      color: #016465;
      color: white;
      text-decoration: none;
    }

    &:hover {
      color: #016465;
    }
  }
}
