@use "../../styles/partials/variables" as *;

.button {
  height: auto;
  width: 100%;
  background-color: $thermometer-white;
  background-color: white;
  color: $almost-black;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(180, 170, 151, 0.2) 0px 2px 8px 0px;
  cursor: pointer;

  &:hover {
    background-color: #fbfbfb;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
  }
}
