@use "../../styles/partials/variables" as *;

.skill-details {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4.25rem);
  height: 100%;

  &__header {
    border-bottom: 0.0625rem solid lightgrey;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
  }

  &__back-button {
    background-color: unset;
    border: none;
  }

  &__header-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__name {
    font-weight: 500;
    font-size: 1.75rem;
  }

  &__favourite {
    background-color: unset;
    border: none;
  }

  &__favourite-icon {
    // color: $almost-black;
    color: #005254;
    cursor: pointer;
    font-size: 2.5rem !important;

    &--filled {
      color: $app-turq-dark !important;
    }
  }

  &__text {
    padding: 1rem 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  &__introduction {
    padding-top: 0.5rem;
  }

  &__instructions {
    padding-top: 1.5rem;
  }

  &__content-paragraph {
    padding: 0.5rem 0;
  }

  &__tag {
    white-space: nowrap;
    border-radius: 1.25rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.8125rem;
    color: white;
    background-color: $app-turq-mid;
    background-color: #86c5c6;
    text-transform: uppercase;
    width: fit-content;
    margin: 0.25rem 0 0;
    align-self: end;
  }
}
