@use "../../styles/partials/variables" as *;

.button-colour {
  height: auto;
  width: 100%;
  background-color: $app-turq-mid;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(180, 170, 151, 0.2) 0rem 0.125rem 0.5rem 0rem;
  cursor: pointer;

  &:hover {
    background-color: $app-turq-dark;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: white;
  }
}
