@use "../../styles/partials/variables" as *;

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.filter-question {
  &__modal {
    position: fixed;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 2.5rem;
    background-color: white;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  &__overlay {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close {
    background-color: inherit;
    border: none;
    align-self: end;
  }

  &__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  &__question-text {
    font-weight: 500;
    margin: 1rem;
    font-size: 22px;
    text-align: center;
  }

  &__button-container {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: center;
    gap: 3rem;
  }

  &__button {
    width: 135px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button-icon {
    font-size: 60px !important;
    padding: 0.5rem 0;
  }

  &__modal-button {
    width: 50%;
    margin: 1rem;
    padding: 0.75rem 1rem;
  }

  &__skip-link {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 1rem;
    font-weight: 400;
    text-align: center;
    color: $app-turq-dark;

    &:link,
    &:active,
    &:hover,
    &:visited {
      text-decoration: none;
      color: black;
    }

    &:hover {
      color: $app-turq-dark;
    }
  }
}
