@use "../../styles/partials/variables" as *;

.exercise-form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4.25rem);
  width: 100vw;

  &__header {
    border-bottom: 0.0625rem solid lightgrey;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
  }

  &__back-button {
    background-color: unset;
    border: none;
  }

  &__header-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1.75rem;
  }

  &__input-section {
    padding: 2rem;
    overflow-y: scroll;
  }

  &__submit-button {
    margin-top: 1.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
