@use "../../styles/partials/variables" as *;

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: last baseline;
  background-color: $nav-cream;
  padding: 1rem;
  padding-top: 0;
  z-index: 5;
  height: 60px;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 70px;

    &:link,
    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
    }
  }

  &__icon {
    height: 25px;
  }

  &__icon-large {
    height: 50px;
  }

  &__text {
    color: $almost-black;
    font-size: 13px;
    line-height: 14px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  &__rounded {
    height: 105px;
    width: 100px;
    border-radius: 50%;
    background-color: $nav-cream;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
